
@{
    ViewData["Title"] = "List";
}

<div class="container w-75">
    <h1 class="ListH1">Author Catelog</h1>

    
    @*tables division*@
    <table class="table  table-sm table-striped mt-2 table-bordered ">
        <thead class="bg-dark">
            <tr>
                <td class="col-3 head">First Name</td>
                <td class="col-3 head">Last Name</td>
                <td class="col-6 head">Book(s)</td>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="changeColor">Bello</td>
                <td class="changeColor">Abdulazeez</td>
                <td class="changeColor">Rich Dad</td>

            </tr>
        </tbody>

    </table>
    <nav aria-label="Search  Book">
        <ul class="pagination pagination-sm">
            <li class="page-item ">
                <a href="#" class="btn btn-outline-primary active">1</a>
            </li>
            <li class="page-item ">
                <a href="#" class="btn btn-outline-primary ">2</a>
            </li>
            <li class="page-item ">
                <a href="#" class="btn btn-outline-primary ">3</a>
            </li>
            <li class="page-item ">
                <a href="#" class="btn btn-outline-primary ">4</a>
            </li>
            <li class="page-item ">
                <a href="#" class="btn btn-outline-primary ">5</a>
            </li>
            <li class="page-item ">
                <a href="#" class="btn btn-outline-primary ">6</a>
            </li>
        </ul>

    </nav>

</div>

